    <div class="pagesHdr" id="aboutHeader">
        <h1>About us</h1>
        <p>A space for black women to learn and explore technology.</p>
        <hr>
        <%= image_tag "ovalOverlay", class: "one" %>
        <%= image_tag "ovalOverlay", class: "two" %>
    </div>

    <div class="introText maxWidth aboutAreas">
        <div id="aboutImgWrap">
            <div class="innerImgWrap">
              <%= image_tag "aboutImg1", class: "hide" %>
              <%= image_tag "aboutImg2", class: "hide" %>
              <%= image_tag "aboutImg3", class: "hide" %>
            </div>
        </div>
        <p>blackgirl.tech started in 2014 as an organisation that aimed to provide a safe space for black girls and women
            in the tech industry and those coming into the tech industry. Since then, it has grown into a social enterprise
            that not only provides a safe space for black women, but that aims to make tech a safer space for black women
            and girls. We now run a blog, a podcast and events.</p>
    </div>

    <div id="purplePanel" class="aboutAreas">
        <p class="maxWidth">
            The goal of blackgirl.tech isn’t to make everyone a coder but to introduce coding to those who may have never been exposed
            and to create an environment that fosters sharing, learning and growth.
        </p>
    </div>

    <div class="teamWrap aboutAreas">
        <div class="teamArea maxWidth">
            <h2>
                Meet the Team
            </h2>
            <div class="cardWrap">
                <div class="aboutCard">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Lola Odelola</h3>
                        <p>Founder</p>
                        <a href="https://twitter.com/lolaodelola">@lolaodelola</a>
                    </div>
                </div>
              </div>
                <div class="cardWrap">
                  <div class="aboutCard">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Rebecca Francis</h3>
                        <p>Operations</p>
                    </div>
                </div>
        </div>
    </div>
