
    <div id="content-1" class="homeContent">

        <div class="maxWidth">

            <div id="topWrap">
              <%= image_tag "eventImg1", class: "sml" %>
              <%= image_tag "eventImg2", class: "show970 mid" %>
              <%= image_tag "eventImg3", class: "show970 lrg" %>
                <div class="textWrap">
                    <h2>CODE & CHILL</h2>
                    <p>Our code and chill workshops run monthly as a space for black women and non-binary people are welcome to learn and explore technology. Our list of tutorials is ever growing </p>
                    <%= link_to "View Events", events_path, class: "cta" %>
                </div>
            </div>

        </div>
    </div>

    <!--  TODO: Bring back donate -->

    <!-- <div id="content-2" class="homeContent">
      <%= image_tag "donateImg" %>
        <div class="maxWidth">
            <div id="bgWrap">
                <h2>LOREM IPSUM DOLOR SIT AMET</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                <a href="#" class="cta">donate</a>
            </div>
        </div>
    </div> -->

    <div id="content-2" class="homeContent">
      <%= image_tag "donateImg" %>
        <div class="maxWidth">
            <div id="bgWrap">
                <h2>OPPORTUNITIES</h2>
                <p> <%= "We're teaming up with established organisations to bring opportunities to black women and non-binary people, check out what we currently have running." %></p>
                <%= link_to "View More", opportunities_path, class: "cta" %>
            </div>
        </div>
    </div>

    <!-- <div id="content-3" class="homeContent">

        <div class="maxWidth">

            <div id="cardWrap">
                <div class="resourceCard">
                    <h3>resource card title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing edivt, sed do eiusmod tempor incididunt ut labore
                        et dolore magna
                    </p>
                    <span>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        html, beginners, workshop
                    </span>
                    <p class="learnMore">Learn more</p>
                </div>
                <div class="resourceCard">
                    <h3>resource card title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing edivt, sed do eiusmod tempor incididunt ut labore
                        et dolore magna
                    </p>
                    <span>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        html, beginners, workshop
                    </span>
                    <p class="learnMore">Learn more</p>
                </div>
            </div>

            <div class="contentThreeText">
                <h2>LOREM IPSUM DOLOR SIT AMET</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore</p>
                <a href="#" class="cta">View More</a>
            </div>

        </div>

    </div> -->



</div>
