<%= render "partials/home" %>
<div class="orange-grad pr7 pl7">
  <%= render "partials/about" %>
  <%= render "partials/bg_talks" %>
  <%= render "partials/get_involved" %>
</div>
<%= render "partials/footer" %>
