<div class="joinUs pagePanel">
  <div class="maxWidth">
    <div class="textBox">
      <h2>Join Us</h2>
      <p>
        <strong>Creating a safe space for black women to explore</strong>
        By joining us, you can stay up to date with our events and workshops.
      </p>
      <p>
        <strong>Access to learning for black women</strong>
        You'll also be able to access all our professional learning and career development opportunities.
      </p>
      <p class="ml3 mt2"> Already have an account? <%= link_to "Log in", new_member_session_path %></p>
    </div>

    <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="formTop white">
          <%= f.label :first_name, class:"sr-only"%>
          <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First name" %>

        <%= f.label :last_name, class:"sr-only"%>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>

        <%= f.label :email, class:"sr-only" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>

        <%= f.label :password, class:"sr-only" %>
        <% if @minimum_password_length %>
          <em class="sr-only">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (6 characters min)" %>

        <%= f.label :password_confirmation, class:"sr-only" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
      </div>

      <!-- <div class="radioBtns">
        <div class="smaller">
            <div class="radio">
                <input type="radio" name="age" id="eighteen">
                <label for="eighteen">under 18</label>
            </div>
            <div class="radio">
                <input type="radio" name="age" id="twentytwo">
                <label for="twentytwo">22-29</label>
            </div>
            <div class="radio">
                <input type="radio" name="age" id="thirty">
                <label for="thirty">30-39</label>
            </div>
            <div class="radio">
                <input type="radio" name="age" id="forty">
                <label for="forty">40+</label>
            </div>
        </div>
    </div> -->
    <div class="question white">
        <%= f.label :black_woman_nbp, "Are you a black woman/black non-binary person?"%>
        <%= f.check_box :black_woman_nbp, class: "" %>
    </div>

    <div class="white">
        <%= f.label :voluenteer, "Would you like to register as a volunteer?" %><br />
        <%= f.check_box :volunteer%>
    </div>

    <div class="question white">
        <%= f.label :contact_permission, "I give you permission to store my details and contact me."%>
        <%= f.check_box :contact_permission, class: "" %>
    </div>

        <%= f.submit "Sign up", class: "cta" %>

  <% end %>
</div>
</div>
