<div class="col-md-6 offset-md-3">
  <h1>Apply for <%= @opportunity.name %></h1>
  <p> Upload your CV and cover letter, let us know why this opportunity is right for you, what you want to gain and what you can give. </p>
  <%= form_for [@opportunity, @application]  do |f| %>
    <div class="form-group">
      <%= f.label :cover_letter%>
      <%= f.text_area :cover_letter, rows: 15, class: "form-control" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :cv, "CV" %>
      <%= f.file_field :cv, direct_upload: true %>
    </div>
    <br>
    <%= f.hidden_field :opportunity_id, value: @opportunity.id %>
    <%= f.hidden_field :member_id, value: current_member.id %>
    <div class="row">
      <div class="col-md-6">
        <%= f.submit "Save", class: "cta"%>
      </div>
      <div class="col-md-6">
        <%= f.submit "Submit", class: "cta"%>
      </div>
    </div>
  <% end %>
</div>
