<div class="profilePage">

  <div class="maxWidth">
    <h1 class="name">
      <%= @member.first_name + "'s'" %> Application for <%= @application.opportunity.name %>
    </h1>

    <% unless @application.submitted %>
      <p>
        This application has not been submitted, why not <%= link_to "edit", edit_application_path(@application) %> it and submit when you've finished.
      </p>
    <% else %>
      <p> This application has been submitted and can not be editted. </p>
    <% end %>

    <article>
      <h3> Cover Letter </h3>
      <%= simple_format(@application.cover_letter) %>

      <p> View your <%#= link_to "CV", @application.cv.service_url %> </p>
    </article>

    <% if admin? %>
    <ul>
      <li> Longlisted: <%= @application.longlist %> </li>
      <li> Shortlisted: <%= @application.shortlist %> </li>
      <li> Finalisted: <%= @application.finalist %> </li>
      <li> Awarded: <%= @application.awarded %> </li>
    </ul>

      <% if @application.notes %>
        <p> <%= @application.notes %> </p>
      <% end %>
    <% end %>

    <% unless @application.submitted %>
      <%= link_to "Edit", edit_application_path(@application), class: "cta" %>
    <% end %>

    <% unless admin? %>
      <div class="deleteAccount pagePanel">
        <div class="maxWidth">
          <h2>
              Delete Application
          </h2>
          <p>
              Please be advised that deleting your application is permanent and will be effective immediately
          </p>
          <%= link_to 'Delete',  @application,  class: "cta greyed", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
