<% @events.each do |event| %>

<div class="eventItem">
<div class="eventDetail">
  <div class="eventLeft">
    <p>
      <%= event.date.strftime('%b') %>
      <span>
        <%= event.date.strftime('%d') %>
      </span>
    </p>
  </div>
  <div class="eventRight">
    <p>
      <%= link_to event.name, event_path(event) %>
      <span>
        <%= event.time.strftime('%H:%Mpm') %>
      </span>
    </p>
  </div>
</div>
<%= image_tag event.image %>
</div>
<% end %>
