<header>
    <i class="fa fa-bars menu-btn" aria-hidden="true"></i>
    <div id="headerInner">
        <nav>
            <div id="navWrap">
                <div class="innerWrap">
                    <a href="/" class="logoLink">
                        <%= image_tag "white_logo" %>
                    </a>
                    <div class="navAlign">
                        <% if member_signed_in? %>
                          <% if admin? %>
                              <%= link_to 'Admin', admin_root_path %>
                          <% end %>
                          <%= link_to "My Profile", member_path(current_member), class: "desktopNavLink" %>
                          <%= link_to "Log Out", destroy_member_session_path, method: :delete, class: "desktopNavLink" %>
                        <% else %>
                          <%= link_to "Join Us", new_member_registration_path, class: "desktopNavLink" %>
                          <%= link_to "Log In", new_member_session_path, class: "desktopNavLink" %>
                        <% end %>
                        <a href="https://blackgirltech.seeker.company/" class="desktopNavLink"> Jobs </a>
                        <%= link_to "Opportunites", opportunities_path, class: "desktopNavLink" %>
                        <%= link_to "Donate", new_donation_path, class: "desktopNavLink" %>
                        <%#= link_to "Events", events_path, class: "desktopNavLink" %>
                        <%= link_to "About", about_path, class: "desktopNavLink"%>
                    </div>
                </span>
            </div>
        </nav>
    </div>
</header>
