<div class="mw-100 white cf f3 black-underlay-bg fixed vw-100">
  <ul class="list fl">
    <li>
      <%= image_tag('short-logo-white.png', class: 'w3') %>
    </li>
  </ul>

  <ul class="list pl0 pt2 fr avenir">
    <li class="fl pl3 dim">
      <%= link_to "Home", root_path, class: "nav-a" %>
    </li>
    <li class="fl pl3 dim">
      <%= link_to "Who We Are", who_we_are_path, class: "nav-a" %>
    </li>
    <li class="fl pl3 dim">
      <%= link_to "What We Do", what_we_do_path, class: "nav-a" %>
    </li>
    <li class="fl pl3 pr3 dim">
      <%= link_to "Get Involved", involvements_path, class: "nav-a" %>
    </li>
  </ul>
</div>