<nav class="pushy pushy-right">
    <div class="pushy-content">
        <ul>
            <li class="pushy-link">
                <%= link_to "About", about_path%>
            </li>
            <li class="pushy-link">
                <%= link_to "Events", events_path %>
            </li>
            <li class="pushy-link">
                <%= link_to "Donate", new_donation_path %>
            </li>
            <li class="pushy-link">
                <%= link_to "Opportunites", opportunities_path %>
            </li>
            <% if member_signed_in? %>
              <%# if admin? %>
                <%#= link_to 'Admin', admin_root_path %>
              <%# end %>
              <li class="pushy-link">
                <%= link_to "My Profile", member_path(current_member) %>
              </li>

              <li class="pushy-link">
                <%= link_to "Log Out", destroy_member_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="pushy-link">
                <%= link_to "Join Us", new_member_registration_path %>
              </li>
              <li class="pushy-link">
                <%= link_to "Log In", new_member_session_path %>
              </li>
            <% end %>
        </ul>
    </div>
</nav>
