<div class="ph4">

  <div class="row">
    <h2>Hi <%= @user.name %> </h2>
  </div>

  <p>Account number: <b><%= @user.id %></b ></p>
  <p>Subscription Type: <b><%= @user.subscription.subscription_type %></b ></p>
  
  <div>
    <p> <span class="b">Email:</span> <%= @user.email %> </p>
  </div>
  
  <%= link_to 'Edit your profile',  edit_user_registration_path, class: "btn white bg-navy" %>
  <%= link_to 'Sign Out',  destroy_user_session_path, method: :delete, class: "btn white bg-red" %>
</div>