<div class="ph4">

  <div class="">
    <h2 class="fw1 f1">Hi <%= @user.first_name %> </h2>
    <p> <span class="b">Email:</span> <%= @user.email %> <br> <%= link_to 'Edit your profile',  edit_user_registration_path, class: "dark-green hover-green fw5" %></p> 
  </div>

  <% if (@user.active_subscription? == nil)%>
    <div class="text-center">
      <p class="f2 fw2">You need to become a member to access our resources</p>
      <%= link_to "Subscribe", new_subscription_path, class: "f1 fw4 dark-green hover-green" %>
    </div>
  <% elsif (@sub.redirect_url.present? && @sub.gc_mandate_id.nil?)%>
    <div class="text-center">
      <p class="f2 fw2">It seems you started the membership process but didn't complete it, you'll need to <%= link_to "subscribe", edit_user_subscription_path(@user.id, @sub.id), class: "fw4 dark-green hover-green" %> again. Make sure you <span class="fw4">do not to click the back button on the payment page.</span></p>
    </div>
  <% elsif (@user.active_subscription?) %>
    <p> <b>Subscription Type:</b> <%= @sub.subscription_type %></p>
    <p><b>Membership number: </b> <%= @sub.subscription_number %></p>
    <p class="text-center f4"> We will be adding more features to this page as we go along, you can find out where we are on our <a href="" class="dark-green hover-green">trello board</a>, if there's something you think we're missing, don't hesitate to <a href="" class="dark-green hover-green">contact us</a>!</p>
    <hr>
    <div class="col-md-6 offset-md-3">
      <%= render "partials/resource_hub" %>
    </div>
    <% if @sub.free? %>
      <p class="b f4 text-center"> In order to gain full access to all of our services, content and events <%= link_to 'upgrade', edit_user_subscription_path(@user.id, @sub.id) %> your subscription.</p>
      <hr>
    <% else %>
      <hr>
      <%= render "partials/vouchers" %>
      <hr>
    <% end %>
    <div class=" col-md-6 pa3 center bg-light-gray mt5">
      <h3 class="red b"> DANGER ZONE </h3>

      <p class="b"> If you cancel your subscription, you will be downgraded to our free A-group subscription and lose all discounts, lose benefits to all future promotions and your membership card will be disabled. </p>

      <%= link_to 'Cancel Subscription',  subscription_cancel_path(:id), class: "btn white bg-red hover-red b--red hover-bg-light-gray" %>
      <hr>

      <p class="b"> ONCE YOUR ACCOUNT IS DELETED, WE CAN NOT RESSURECT IT.</p>

      <%= link_to 'Delete your profile',  user_registration_path, method: :delete, class: "btn white bg-red hover-red b--red hover-bg-light-gray" %>
      
    </div>
  <% end %>
  
</div>