<div class="col-md-6 offset-md-3">
  <h1>Edit Your Application</h1>

  <%= simple_format(@application.cover_letter) %>
  <p> View <%= link_to "CV", @application.cv %> </p>

  <%= form_for(@application, url: admin_application_path(@application))  do |f| %>
    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>

    <div class="form-group">
      <%= f.label :longlist%>
      <%= f.check_box :longlist, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :shortlist%>
      <%= f.check_box :shortlist, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :finalist%>
      <%= f.check_box :finalist, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :awarded%>
      <%= f.check_box :awarded, class: "form-control" %>
    </div>

    <%= f.hidden_field :opportunity_id, value: @application.opportunity.id %>
    <%= f.hidden_field :member_id, value: @application.member_id %>
    <%= f.submit "Save", class: "cta"%>
  <% end %>
</div>