<div class="pagesHdr" id="eventsHeader">
    <h1>Events</h1>
    <img src="" alt="">
</div>

<div class="eventsArea">
  <div id="eventsTop">
    <div class="maxWidth">
      <h2>Upcoming</h2>
      <% @events.each do |event| %>
        <div class="eventItem">
        <div class="eventDetail">
          <div class="eventLeft">
            <p>
              <%= event.date.strftime('%b') %>
              <span>
                <%= event.date.strftime('%d') %>
              </span>
            </p>
          </div>
          <div class="eventRight">
            <p>
              <%= link_to event.name, event_path(event) %>
              <span>
                <%= event.time.strftime('%H:%mpm') %>
              </span>
            </p>
          </div>
        </div>
        <%= image_tag 'aboutImg1' %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
