<div class="row bg-light-blue pa5" style="">
  <header class="col-md-4 offset-md-4">
    <h1 class="display-1 text-center white-80 b">Events</h1>
  </header>
</div>
<% if admin? %>
  <%= link_to("Create A New Event", new_event_path) %>
<% end %>
<div class="ph4 mt3">
  <div class="row">
    <p class="fw1 f3-ns f5">
    We've partenred with Twitter and Moo to host free monthly workshops during the whole of 2017 for black women who want to get into tech. We will also be hosting a series of masterclasses for companies who want to improve their hiring processes, and want to make their work environment not only diverse but inclusive. These will be listed on the site as they become available.
    </p>

    <p class="fw1 f3-ns f5">
      In order to keep our spaces safe, we'd like all our attendees and facilitators to abide by our <%= link_to "code of conduct", code_path, class: "link dim" %>.
    </p>
  </div>


  <div class="cf">
    <h4 class="black"> Workshops </h4>
    <% @events.each do |event| %>
      <% if event.date.present? %>
        <div class="fl w-25-ns w-100 pa2 pb3">

            <a href="events/<%= event.id %>">
              <p class="b tc black"> <%= event.name %> </p>
            </a>
          <% if admin? %>
            <%= link_to "Edit", edit_event_path(event) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
