<div class="row bg-light-blue pa5" style="">
  <header class="col-md-4 offset-md-4">
    <h1 class="display-1 text-center white-80 b"><%= @event.name %> </h1>
  </header>
</div>

<a href="/events/<%= @event.id %>/rsvp"> RSVP </a>
<a href="/events/<%= @event.id %>/unrsvp"> UNRSVP </a>
<a href="/events/<%= @event.id %>/volunteer"> volunteer </a>
<a href="/events/<%= @event.id %>/unvolunteer"> UNvolunteer </a>


</div>
