<div class="container">
  <div class="row">
    <div class="col">
      <h2> <%= @event.name %> </p>
      <img src="<%#= @event.image %>" >
      <p> <%#= @event.details %></p>
      <p> <%#= @event.time %> </p>
      <p> <%#= @event.date %> </p>
    </div>

    <div class="col">
      <% if @rsvp.empty? %>
      <p> We collect a £5 deposit per event which is refunded back to you once your attendance has been confirmed. However, if you would like to donate this deposit to us, to ensure the running of future events, then check the donate box. </p>
        <div class="col-md-8">
          <%= form_for @event, url: {action: "rsvp"} do |f| %>
            <div class="form-row">
              <label for="card-element">
                Card number
              </label>
              <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
              </div>

              <!-- Used to display form errors -->
              <div id="card-errors" role="alert"></div>
            </div>
            <% if @event.refundable %>
              <%= f.fields_for :rsvps do |rsvp| %>
                <%= rsvp.label :donate, "Check here if you'd like to donate your deposit" %>
                <%= rsvp.check_box :donate %>
              <% end %>
            <% end %>
            <!-- Display explanitory text & rsvp button with no form if customer_id exists -->
            <%= f.submit "Reserve", class: "btn bg-dark-green white hover-dark-green hover-bg-white b--dark-green f3 fw2 mt-1" %>
          <% end %>

          <p> Is this event not quite for you? Why don't you <a href="/events/<%= @event.id %>/volunteer"> volunteer </a> and help others? </p>
        </div>

        <% else %>
          <p> You are already attending this event </p>
          <a href="/events/<%= @event.id %>/unrsvp"> UNRSVP </a>
      <% end %>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>
    initialiseStripe('<%=ENV['STRIPE_PUBLISHABLE_KEY']%>', 'edit_event_<%= @event.id %>');
  </script>
<% end %>
