

    <div class="pagesHdr" id="donateHeader">
        <h1>Donate</h1>
        <p>Fancy helping us out? Why not become a regular donor or you can give us a one-off donation.</p>
        <hr>
        <img class="one" src="images/donateHdrOval.png" alt="">
        <img class="two" src="images/donateHdrOval.png" alt="">
        <img class="three" src="images/donateHdrOval.png" alt="">
        <img class="four" src="images/donateHdrOval.png" alt="">
    </div>

    <div class="donateArea">
        <div class="maxWidth">
            <div class="donateInnerAreas" id="donateText">
              <h2>Why donate to blackgirl.tech?</h2>
              <p>
                We're a very small team who want to do really big things. Apart from our monthly workshops, we want to do more to make technology accessible and fun.
                <br>
                <br>
                This year we want to start a scholarship fund, which will include tuition & living expenses for one black woman to learn how to code at a bootcamp of their choice (from our approved list). But we need your help to raise the money! If 100 people gave £10 a month for a year, we'd be able to send someone on a bootcamp this time next year. If you can't give £10 or can only give monthly, that's fine too, every little helps!
              </p>
            </div>
            <div class="donateInnerAreas">
              <%= form_for @donation, html: { class: "donateForm" } do |f| %>
                  <div id="prices">
                    <div class="price">
                      <!-- TODO: FIX SO THAT SELECTED/INPUTED AMOUNT GETS SENT TO CONTROLLER INSTEAD OF LAST AMOUNT SUBMITTED IN FORM -->
                      <%= f.label "amount", "£5", class: "priceAmounts"%>
                      <%= f.hidden_field "amount", value: "5" %>
                    </div>
                    <div class="price">
                      <%= f.label "amount", "£10", class: "priceAmounts" %>
                      <%= f.hidden_field "amount", value: "10" %>
                    </div>
                    <div class="price">
                      <%= f.label "amount", "£15", class: "priceAmounts" %>
                      <%= f.hidden_field "amount", value: "15" %>
                    </div>
                    <%= f.number_field "amount", id: "other", placeholder: "Other Amount" %>
                  </div>

                  <%# if current_member && !active_donor %>
                    <div id="frequency">
                      <div id="innerFrequency">
                        <!--  TODO: change the input so you can only select one or the other -->
                        <%= f.label :regular, "Monthly" %>
                        <%= f.radio_button :regular, true, class: "monthly"%>

                        <%= f.label :one_off, "One off" %>
                        <%= f.radio_button :one_off, true, class: "oneOff"%>

                      </div>
                    </div>
                  <%# elsif current_member.nil? || active_donor %>
                    <%#= hidden_field_tag(:one_off, true) %>
                  <%# end %>

                  <fieldset>
                      <legend>Payment information:</legend>

                      <div id="name">
                          <input type="name" name="name" class="name" placeholder="Name">
                      </div>

                      <div id="email">
                          <input type="email" name="email" class="email" placeholder="Email">
                      </div>

                      <div id="card-element">
                          <!-- a Stripe Element will be inserted here. -->
                      </div>
                      <div id="card-err" role="alert"></div>
                      <% if current_member %>
                        <%= hidden_field_tag(:member_id, "#{current_member.id}") %>
                      <% end %>
                  </fieldset>
                  <%= f.submit "Donate", class: "cta"%>
                <% end %>
            </div>
        </div>
    </div>

    <script>

    const priceWrapper = document.getElementsByClassName('price');
    const prices = Array.from(priceWrapper);

    for (let i = 0; i < prices.length; i++) {

      function selected() {

          prices.map(
              price => {
                  if (price.classList.contains("selected")) {
                      price.classList.remove("selected");
                      prices[i].classList.add("selected")
                  } else {
                      prices[i].classList.add("selected")
                  }
              }
          )

          const regArray = prices[i].innerHTML.match(/[0-9]+/);
          const amount = parseInt(regArray[0]);

          // replace console log with a fn to pass the selected amount to stripe
          console.log(amount);
      }
      prices[i].addEventListener('click', selected);
    }
    </script>


    <!--  Partial for attendees -->

  <% content_for :script do %>
    <script>
      initialiseStripe('<%=ENV['STRIPE_PUBLISHABLE_KEY']%>', 'new_donation')
    </script>
  <% end %>
