<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="f2 bg-navy pa2 b white list-group-item b--navy">Starter Membership</li>
      <li class="b list-group-item f3">Free</li>
      <li class="list-group-item">Access to resources</li>
      <li class="list-group-item">First access to events</li>
      <li class="list-group-item">Jobs</li>
      <li class="list-group-item">Something Else</li>
    </ul>

    <%= form_for @subscription do |f| %>
      <%= hidden_field_tag(:subscription_type, "free") %>
      <%= f.submit "SUBSCRIBE", class: "btn bg-gold white hover-gold hover-bg-white b--gold mt1 f3 col-md-6 offset-md-3" %>
    <% end %>
  </div>

  <div class="col-md-4 mt3 mt0-ns">
    <ul class="list-group">
      <li class="f2 bg-navy pa2 b white list-group-item b--navy">Membership</li>
      <li class="b list-group-item f3">£80</li>
      <li class="list-group-item">All of Free +</li>
      <li class="list-group-item">10% discount with MOO</li>
      <li class="list-group-item">Free :bgt T-shirt</li>
      <li class="list-group-item">Something Else</li>
    </ul>

    <%= form_for @subscription do |f| %>
      <%= hidden_field_tag(:subscription_type, "membership") %>
      <%= f.submit "SUBSCRIBE", class: "btn bg-gold white hover-gold hover-bg-white b--gold mt1 f3 col-md-6 offset-md-3"%>
    <% end %>
  </div>

  <div class="col-md-4 mt3 mt0-ns mb5 mb0-ns">
    <ul class="list-group">
      <li class="f2 bg-navy pa2 b white list-group-item b--navy">Ally</li>
      <li class="b list-group-item f3">£80</li>
      <li class="list-group-item">All of Free +</li>
      <li class="list-group-item">10% discount with MOO</li>
      <li class="list-group-item">Free :bgt T-shirt</li>
      <li class="list-group-item">Something Else</li>
    </ul>

    <%= form_for @subscription do |f| %>
      <%= hidden_field_tag(:subscription_type, "FREE") %>
      <%= f.submit "SUBSCRIBE", class: "btn bg-gold white hover-gold hover-bg-white b--gold mt1 f3 col-md-6 offset-md-3" %>
    <% end %>
  </div>
  
</div>
