<div class="row">
  <h2 class="ml4">Log In</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <div class="form-group col-md-3">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control"  %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me, class: "form-check" %>
      </div>
    <% end -%>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary ml3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
