<h1 class="text-center"><%= @opportunity.name %></h1>
<% if admin? %>
  <%= link_to "Edit", edit_opportunity_path(@opportunity) %>
<% end %>
<p class="text-center"> <b> DEADLINE: <%= @opportunity.deadline.strftime("%d-%m-%Y") %> </b> </p>
<div class="col-md-4 offset-md-4">
  <h5> Company Bio </h5>
  <p class=""> <%= simple_format(@opportunity.company_bio) %></p>
</div>
<div class="col-md-4 offset-md-4">
  <h5> Opportunity Description </h5>
  <p class=""> <%= simple_format(@opportunity.description) %> </p>
</div>

<% if member_signed_in? %>
  <% if @opportunity.external %>
    <%= link_to "Apply", @opportunity.url, class: "cta" %>
  <% else %>
    <%= link_to "Apply", new_opportunity_application_path(@opportunity), class: "cta" %>
  <% end %>
<% else %>
  <%= link_to "Log in to Apply", new_member_session_path, class: "cta" %>
<% end %>
