<!DOCTYPE html>
<html>
  <head>
    <title>blackgirl.tech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="h-100 bg-yellow">
    <div class="triangle-top-yellow">
    </div>
    <div class="triangle-bottom-yellow">
    </div>
    <%= render "partials/nav" %>
    <%= yield %>
  </body>
</html>
