<!DOCTYPE html>
<html>
  <head>
    <title>blackgirl.tech</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <% if !current_page?('/') %>
      <%= render "partials/nav" %>
      <div class="h-100 mw-100 pt4 avenir orange-grad">
        <%= yield %>
      </div>
      <%= render "partials/footer" %>
    <%else%>
      <%= yield %>
    <%end%>
  </body>
</html>
