<div class="ph4">

  <div class="">
    <h2 class="fw1 f1">Hi <%= @member.first_name %> </h2>
    <p> <span class="b">Email:</span> <%= @member.email %> <br> <%= link_to 'Edit your profile',  edit_member_registration_path, class: "dark-green hover-green fw5" %></p>
  </div>

    </div>

    <p class="text-center f4"> We will be adding more features to this page as we go along, you can find out where we are on our <a href="" class="dark-green hover-green">trello board</a>, if there's something you think we're missing, don't hesitate to <a href="" class="dark-green hover-green">contact us</a>!</p>
    <hr>
    <div class="col-md-6 offset-md-3">
      <%#= render "partials/resource_hub" %>
    </div>
    <div class=" col-md-6 pa3 center bg-light-gray mt5">
      <h3 class="red b"> DANGER ZONE </h3>

      <p class="b"> If you cancel your regular donation, you will be downgraded to our free A-group membership and lose all discounts, lose benefits to all future promotions and your membership card will be disabled. </p>

      <%= link_to 'Cancel Regular Donation',  donation_cancel_path(@regular_donation.id), class: "btn white bg-red hover-red b--red hover-bg-light-gray" %>
      <hr>

      <p class="b"> ONCE YOUR ACCOUNT IS DELETED, WE CAN NOT RESSURECT IT.</p>

      <%= link_to 'Delete your profile',  member_registration_path, method: :delete, class: "btn white bg-red hover-red b--red hover-bg-light-gray" %>

    </div>

</div>
